@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  :root,
  .vs-light {
    --blue: #033c73;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #c71c22;
    --orange: #fd7e14;
    --yellow: #dd5600;
    --green: #73a839;
    --teal: #20c997;
    --cyan: #2fa4e7;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #2fa4e7;
    --secondary: #e9ecef;
    --success: #73a839;
    --info: #033c73;
    --warning: #dd5600;
    --danger: #c71c22;
    --light: #f8f9fa;
    --text: #343a40;
    --dark: #343a40;
    --body-bg: #fff;
    --text-bg-mark: #fcf8e3;
    --custom-select: #fff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .vs-dark,
  .dark {
    --background: 234 20% 21%;
    --foreground: 238 17% 69%;
    --card: 237 23% 17%;
    --card-foreground: 238 17% 69%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 237 18% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 15% 29%;
    --input: 226 15% 29%;
    --ring: 226 15% 29%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.animate-spinner-linear-spin {
  animation: spinner-spin 0.8s linear infinite;
}

.animate-spinner-ease-spin {
  animation: spinner-spin 0.8s ease infinite;
}


.explorer-bg-hover {
  position: relative;
  
  
  &::after {
    content: "";
    background-color: hsl(var(--foreground) / 0.05);
    opacity: 0;
    position: absolute;
    width: 200%;
    height: 24px;
    transition-duration: 150ms;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);

  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &.active {
    &::after {
      opacity: 0.3;
      background-color: hsl(var(--primary) / 0.3);
    }
  }
}


.explorer-bg-drag {
  position: relative;

  &::after {
    content: "";
    background-color: hsl(var(--foreground) / 0.05);
    opacity: 0;
    position: absolute;
    width: 200%;
    inset: 0;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 150ms;
    z-index: -1;
  }

  &.active:not(:has(&:hover)) {
    &::after {
      opacity: 1;
    }
  }
}
